body{
    background-image:url(res/construct.jpg);
    background-repeat:no-repeat;
    background-position:0 0;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border: 3px solid white;
    font-family: sans-serif;
    color:white;
    border-radius: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-right:25px;
}
h1 {
    border-bottom: 3px solid white;
    text-align: center;
}
em {
    font-style: normal;
    background-color: rgba(255, 146, 5, 0.87);
    border-radius: 7px;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
}

#footer {
    font-size: 8px;
    text-align: center;
    line-height: 1.5;
    color: rgb(121, 121, 121);
}