body {
    background-image: url(res/pig.jpg);
    background-repeat: no-repeat;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border: 3px dotted rgb(196, 122, 122);
    font-family: sans-serif;
    color:rgb(179, 120, 120);
    border-radius: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right:25px;
}

h1 {
    border-bottom: 3px solid rgb(196, 122, 122);
    text-align: center;
}